
@import url(https://fonts.googleapis.com/css?family=Roboto:500,400,300italic,300,400italic,100,100italic);
* {
  margin: 0;
  padding: 0;
  transition: all 0.5s;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #fff;
}




form {
    background: #f1f1f1;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    display: block;
    margin-top: 2em;
}



.contact-us {
  text-align: center;
  margin-top: 5px;
}

.contact-us-aftertext {
  text-align: center;
  margin-bottom: 1em;
}

#logo {
  font-size: 50px;
  text-align: center;
  color: #4889f0;
}

#footer form input, textarea{
           border-radius: 5px;
            width: 90%;
           display: block;
           font-size: 16px;
          font-weight: 300;
          margin-left: 5%;
          margin-right: 5%;
          margin-top: 10px;
          border: 1px solid #eceff1;
          padding: 15px;
          z-index: 1;
        position: relative;
        box-sizing: border-box;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
}

#footer input[type="submit"] {
                              border: 1px solid #2f5bb7;
                              color: #fff;
                              padding: 10px;
                              text-shadow: 0 2px rgba(0,0,0,0.3);
                              background-color: #357ae8;
                              background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
                              margin-top: 12px;
                              font-weight: 500;
                            }

#footer input[type="submit"]:hover {
                                    border-color: #c6c6c6;
                                    color: #fff;
                                    cursor: pointer;
                                    background-color: #4c8ffc;
                                    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                                    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                                    box-shadow: 1px 3px rgba(0,0,0,1);
                             }

  


p {
    color: #3895dd;
    padding-bottom: -5px;
    font-size: 16px;
  }
  



lable {
  margin-left: -180px;
}


h1 {
  margin: 0;
  font-weight: normal;
  color: rgb(60, 60, 70);
  font-size: 28px
}

p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.det {
  font-size: 18px;
  margin-bottom: 15px
}

.footer-img{
     height: 70px;
    width: 250px;
}
#mobile-links{
    visibility: hidden;
}
@media only screen and (max-width: 1000px) {
    #links {
        display: none;    
    }
    #mobile-links{
        visibility: visible;
    }
}
@media screen and (max-width: 992px) {
  
    p{
        font-size: 40px;
    }
    h1{
        font-size: 50px;
        font-weight: bold;
    }
    .det{
        font-size: 40px;
    }
    .column{
        margin-right: 50vw;
    }
    ::placeholder {
  
  font-size: 30px;
        
}
    input{
        font-size: 40px;
    }
    .fa{
        font-size: 50px;
        padding-right: 30px;
        padding-left: 25px;
        padding-bottom: 20px;
        padding-top: 20px;
       
    }
   