.StickyFooter-progress {
    background: #2c2b2b;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
* > :last-child {
    margin-bottom: 0;
}
* > :first-child {
    margin-top: 0;
}
* {
    -webkit-font-smoothing: antialiased;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
* {
    -webkit-font-smoothing: antialiased;
}
* {
    -webkit-font-smoothing: antialiased;
}
* {
    -webkit-font-smoothing: antialiased;
}
html, body {
    color: #58595b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.77778;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
}
* {
    -webkit-font-smoothing: antialiased;
}
html, body {
    color: #58595b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.77778;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
* {
    -webkit-font-smoothing: antialiased;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #c8543b;
    color: white;
}